<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Chat Bot</title>
</head>

<body>
    <div class="chatBot">
        <div class="Box">
            <div class="heading">
                <div class="icon">HCB</div>
                <div>
                    <h2 class="name">Health Chat Bot</h2>
                    <p class="status">Online</p>
                </div>
            </div>
            <div id="chats">
            </div>
            <div class="textBox">
                <form id="form">
                    <input type="input" id="msg" required placeholder="Type your message here" autofocus>
                    <button type="submit" onclick="reply()">Send</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.1/axios.js"></script>
    <script src="/query.js"></script>
</body>


</html>